# Gradle
.gradle/
build/
out/
classes/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath
bin/

# Minecraft / Loom
run/
*.log

# OS
.DS_Store
Thumbs.db

#CMD
push.bat
